// Breakpoints
$small-screen: 480px;
$medium-screen: 600px;
$large-screen: 900px;
$full-screen: 1200px;

$mobile: new-breakpoint(max-width $small-screen 4);
$tablet: new-breakpoint(max-width $medium-screen 6);
$desktop: new-breakpoint(max-width $large-screen 9);
$fullsize: new-breakpoint(max-width $full-screen 9);

// Typography
$base-font-family: $font-stack-system;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #5bc3f2;
$dark-gray: #636363;
$medium-gray: #e7e7e7;
$light-gray: #ffffff;
$error: #f56666;
$warning: #f5b366;
$success: #29a913;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $medium-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
