$step-size-heading: 0.33333;
/* The mixin */
@mixin heading-size($size) {
    font-size: $size * $step-size-heading + em;
}
h1 {
    @include heading-size(6);
}
h2 {
    @include heading-size(5);
}
h3 {
    @include heading-size(4);
}
h4 {
    @include heading-size(3);
}
h5 {
    @include heading-size(2);
}
h6 {
    @include heading-size(1);
}

ul.bullet {
    list-style-type: none;
    display: table;
    text-align: left;
    li {
        display: table-row;
    }
    li:before {
        color: $blue;
        display: table-cell;
        font-family: FontAwesome;
        content: "\f192";
        width: 1.5em;
    }
}
